@use "sass:math";
@use "../../settings";

.container,
.container-md,
.container-lg {
    max-width: 1180px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.row-lg {
    display: flex;
    flex-wrap: wrap;
    padding-left: calc(-1 * var(--col-spacing, 15px));
    padding-right: calc(-1 * var(--col-spacing, 15px));
}

.col-lg {
    flex: 1 1 auto;
    padding-left: var(--col-spacing, 15px);
    padding-right: var(--col-spacing, 15px);
}
@for $i from 1 through 12 {
    .col-lg-#{$i} {
        flex: 0 0 math.percentage(math.div($i, 12));
    }
    .offset-lg-#{$i} {
        margin-left: math.percentage(math.div($i, 12));
    }
}

@each $size, $spacing in settings.$sizeMapping {
    @each $letter, $type in (m: margin, p: padding) {
        @each $dletter, $direction in (t: top, b: bottom, l: left, r: right) {
            .#{$letter}#{$dletter}-lg-#{$size} {
                #{type}-#{$direction}: $spacing;
            }
        }
        #{$letter}x-lg-#{$size} {
            @extend .#{$letter}l-#{$size} !optional;
            @extend .#{$letter}r-#{$size} !optional;
        }
        #{$letter}y-lg-#{$size} {
            @extend .#{$letter}t-#{$size} !optional;
            @extend .#{$letter}b-#{$size} !optional;
        }
        #{$letter}-lg-#{size} {
            @extend .#{$letter}x-#{size} !optional;
            @extend .#{$letter}x-#{size} !optional;
        }
    }
}