@use "../../settings";
@use "sass:map";

@each $key, $color in settings.$colors {
    @if (text != $key) { 
        .bg-#{"" + $key} {
            background: map.get(settings.$colors, $key);
            color: map.get(settings.$colors, white);
            @for $i from 1 through 6 {
                .h#{$i},
                h#{$i} {
                    color: map.get(settings.$colors, white);
                }
            }
            a {
                color: map.get(settings.$colors, white);
                &::before {
                    border-bottom-color: map.get(settings.$colors, white);
                }

                &:hover {
                    color: map.get(settings.$colors, white);
                    &::before {
                        border-bottom-color: map.get(settings.$colors, white);
                    }
                }
            }
        }
    }
}