$size-tablet: 768px;
$size-desktop: 1280px;

$font-family-body: "Noto Sans", sans-serif;
$font-family-headings: "Oswald", sans-serif;

$color-primary: #677998;
$color-secondary: #6E6798;
$color-accent: #679198;
$color-headings: #333333;
$color-body: #3c3c3c;

$transition: ease-in-out .25s;