@use "../../settings";
@use "sass:map";

.footer {
    padding-top: 18px;
    padding-bottom: 18px;
    .social {
        list-style: none;
        padding: 0;
        a {
            display: inline-block;
            padding-left: 24px;
            align-items: center;
            text-shadow: 0 0 2px rgba(60, 60, 60, 0.23);

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                transition: opacity settings.$transition;
                background: no-repeat center center;
                background-size: contain;
                border: none;
            }

            &::after {
                opacity: 0;
            }

            &:hover {
                color: map.get(settings.$colors, tertiary);
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }
        }
        a[href*="linkedin"] {
            &::before {
                background-image: url(/assets/images/icon-linkedin.png);
            }

            &::after {
                background-image: url(/assets/images/icon-linkedin-hover.png);
            }
        }
        a[href*="github"] {
            &::before {
                background-image: url(/assets/images/icon-github.svg);
            }

            &::after {
                background-image: url(/assets/images/icon-github-hover.svg);
            }
        }
        a[href$=".pdf"] {
            &::before {
                background-image: url(/assets/images/icon-pdf.svg);
            }

            &::after {
                background-image: url(/assets/images/icon-pdf-hover.svg);
            }
        }
    }
}