@use "../../settings";

html {
    font-size: 10px;
}

body {
    font-size: 1.6em;
    line-height: 1.5;
    font-family: settings.$font-family-body;
    font-weight: 500;
    color: settings.$color-body;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5
h6,
.h6 {
    margin-top: 0;
    font-family: settings.$font-family-headings;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    color: settings.$color-headings;
}

%h1 {
    font-size: 35px;
    margin-bottom: 24px;
}

%h2 {
    font-size: 28px;
    margin-bottom: 24px;
}

%h3 {
    font-size: 24px;
    margin-bottom: 16px;
}

%h4 {
    font-size: 21px;
    margin-bottom: 16px;
}

%h5 {
    font-size: 18px;
    font-weight: 700;
    color: settings.$color-primary;
    margin-bottom: 12px;
}

%h6 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
}

@for $i from 1 through 6 {
    h#{$i},
    .h#{$i} {
        @extend %h#{$i};
    }
}

ul {
    margin: 0;
}

@each $align in (left, center, right, justify) {
    .text-align-#{$align} {
        text-align: $align;
    }
}

a {
    text-decoration: none;
    color: settings.$color-primary;
    position: relative;
    transition: color settings.$transition;
    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        border-bottom: 1px solid settings.$color-primary;
        transition: width settings.$transition,
                    border-color settings.$transition;
    }

    &:hover {
        color: settings.$color-accent;

        &::before {
            width: 82%;
            border-bottom-color: settings.$color-accent;
        }
    }
}